body{
    font-family: "Open Sans";
}

/* Navbar */
nav {
    background-color: #339AA6;
}

.navbar-brand {
    font-weight: 400;
}

.navbar-brand img{
    height: 1.5em;
}

/* Quiénes Somos */

#Quienes-Somos{
    background: #000000;
}

#Quienes-Somos i{
    background: #339AA6;
}

#Quienes-Somos hr{
    color: #339AA6;
    border: 1px solid;
}

/* Destacados */

#Destacados{
    background: #000000;
}

#Destacados .card{
    background: #339AA6;
    border: 1px solid;
    border-color: #ffffff;
}

#Destacados img{
    height: 23vh;
}

#Destacados hr{
    color: #339AA6;
    border: 1px solid;
}

/* Contacto */

#Contacto{
    background: #000000;
}

#Contacto{
    font-weight: 300;
}

#Contacto hr{
    color: #339AA6;
    border: 1px solid;
}

/* Footer */

#Footer{
    background: #339AA6;
}
